
/* container-1 css */
.container-1 {
    /* height: 80vh; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-1 .framer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0px 60px 0px 60px;
    width: auto;
  }
  .container-1 .main-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-1 .main-cards .card-sub {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container-1 .card {
    line-height: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-1 .card h2 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 44px;
  }
  
  .card-sub h2 {
    color: white;
    font-size: 44px;
  }
  .card-sub h2 span {
    font-size: 44px;
  }
  .card-sub {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80px;
  }
  
  .card-sub .p1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    width: auto;
    margin-top: 55px;
  }
  
  .card-sub .p2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    width: auto;
    font-size: 23px;
    color: white;
    display: flex;
    line-height: 12px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card-sub .p2 h3 {
    font-weight: 600px;
  }
  
  .card .card-vedio {
    cursor: pointer;
    padding: 0px 0px;
    height: 325px;
    margin-top: 70px;
    width: auto;
  }
  
  .card .card-vedio video {
    border-radius: 35px;
    padding: 25px;
    height: 350px;
    width: 100%;
  }
  .card .card-btn {
    gap: 18px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card .card-btn button {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background-color: transparent;
  }
  .card .card-btn button img {
    width: 260px;
    height: 73px;
  }
  
  /* contianer-2 css */
  
  .container-2 {
    padding: 30px 1px;
  }
  
  .container-2 .scrol-card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container-2 .scrol-card h2 {
    font-family: "Inter-SemiBold", "Inter", sans-serif;
    font-size: 39px;
    color: white;
    font-weight: 600px;
  }
  
  .container-2 .scroll-items {
    /* height: 400px; */
    width: 100vw;
  }
  
  .container-2 .scroll-items .images {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 22px;
    position: relative;
    width: min-content;
    background-color: rgb(11, 13, 34);
  }
  
  .container-2 .scroll-items .images .image {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-2 .scroll-items .images .image a {
    cursor: pointer;
    text-decoration: none;
    color: transparent;
  }
  
  .container-2 .scroll-items .images .image a img {
    border-radius: 20px;
    background-color: white;
    height: 109px;
    width: fit-content;
  }
  
  .container-2 .scroll-items .persons {
    height: auto;
    width: auto;
    background-color: rgb(11, 13, 34);
    padding: 10px;
    gap: 40px;
    display: flex;
  }
  
  .container-2 .scroll-items .persons a {
    color: white;
    text-decoration: none;
    width: auto;
  }
  
  .container-2 .scroll-items .persons a .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
  }
  
  .container-2 .scroll-items .persons .card-img {
    /* width: 104px; */
    height: auto;
    /* margin-right: 20px; */
    display: flex;
    align-items: center;
  }
  
  .container-2 .scroll-items .persons .card-name p {
    font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: auto; */
  }
  
  .container-2 .scroll-items .persons .card-desig p {
    margin: 0px;
    font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-2 .scroll-items .persons .card-descrp p {
    margin: 0px;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  