@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  
}

html::-webkit-scrollbar {
  display: none;
  width: 100vw;
}

body {
  font-family: "Montserrat", sans-serif;

  background-color: rgb(11, 13, 34);
  align-items: center;
}

span {
  color: rgb(38, 254, 238);
}




      /* Navbar page Css */
.navbar {
  padding: 25px 105px 25px 105px;
  /* position: fixed; */
  background-color: rgb(11, 13, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100vw;
  opacity: 1;
}

.navbar .nav-icon img {
  width: 85px;
  height: 45px;
}

.navbar .nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-buttons #a {
  font-weight: 550;
  font: 16px;
  font-family: sans-serif;
  margin-left: 35px;
  margin-right: 10px;
  cursor: pointer;
  color: white;
}

.navbar .nav-buttons #a:hover {
  color: rgb(38, 254, 238);
}

.navbar .nav-buttons .get-loan {
  color: black;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: sans-serif;
  font-size: 18px;
  width: 146px;
  height: 40px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 20px;
  text-decoration: none;
  background-color: rgb(38, 254, 238);
  border: none;
  border-radius: 25px;
}

.navbar .nav-buttons .get-loan :hover {
  color: black;
}

#icon {
  color: rgb(38, 254, 238);
  font-size: 30px;
  cursor: pointer;
  display: none;
}





          /* Footer css */

 .footer{
  background-color:  rgb(11, 13, 34) ;
  padding: 50px 105px;
 
  
 }

 .footer .footer-sub{
  gap: 25px;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
  
 }

 .footer .footer-sub .footer-cards{
  
  gap: 10px;
  display: flex;
  flex-direction: column;
 }

 .footer .footer-sub .footer-cards  span{
    font-family: "Inter-SemiBold", "Inter", sans-serif;
    font-size: 21px;
    font-weight: 600; 
    letter-spacing: -0.28px;
    line-height: 23px;
 }
 .footer .footer-sub p{
    color: white;
 }
 .footer .footer-sub .footer-cards p{
  line-height: 30px;
  margin: 0px;
    color: white;
    font-family: "Inter-SemiBold", "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600; 
 }

 .footer .footer-sub .footer-cards .card .social-accounts {
  gap: 30px;
  display: flex;
  justify-content: space-around;
 }

 .footer .footer-sub .footer-cards .card .social-accounts a img{
    width: 40px;
    border-radius: 9px;
    height: 40px;
    background-color: transparent;
    color: transparent;
 }





 .footer .footer-sub .footer-cards .card .logo-img img {
  margin-left: 10px;
  width: 50px;
  height: 45px;
 
}

 .footer .footer-sub .footer-cards .card button {
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: transparent;
}
.footer .footer-sub .footer-cards .card button img {
  width: 260px;
  height: 73px;
}

.footer hr{
  height:1px;
  border-width:0;
  color:rgb(128, 128, 128);
  background-color:rgba(128, 128, 128, 0.471)
}

.footer .footer-copy{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 
}


@media only screen and (max-width: 1285px) {

  .container-1 .framer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    /* padding: 0px 60px 0px 60px; */
    padding: 10px;
}
 
    .container-1 .card h2 {
      display: flex;
      flex-wrap: wrap;
      color: white;
      font-size: 39px;
    }
    
    .card-sub h2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 39px;
    }
    .card-sub h2 span {
      font-size: 39px;
    }

    .card-sub .p1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 26px;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      width: auto;
      margin-top: 50px;
    }
    
    .card-sub .p2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      width: auto;
      font-size: 21px;
      color: white;
      display: flex;
      line-height: 30px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .card-sub .p2 span{
      font-size: 27px;
    }

    .card .card-vedio {
      cursor: pointer;
      padding: 0px 0px;
      height: 300px;
      /* margin-top: 70px; */
      width: auto;
    }
  
  
    .card .card-vedio video {
      border-radius: 35px;
      padding: 25px;
      height: 300px;
      width: 90%;
      margin-left: 50px;
    }
}


@media only screen and (max-width: 700px) {
  body {
   align-items: center;
  }

  .mobile-container .portfolios .card .img-card img{
    width: 500px;
    height: 400px;
  }

  .process-container .process-flow img {
    width: 480px;
    height: 320px;
  }


}

