@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;

  background-color: rgb(11, 13, 34);
  align-items: center;
}

span {
  color: rgb(38, 254, 238);
}

/* Navbar page Css */
.navbar {
  padding: 25px 105px 25px 105px;
  /* position: fixed; */
  background-color: rgb(11, 13, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100vw;
  opacity: 1;
}

.navbar .nav-icon img {
  width: 85px;
  height: 45px;
}

.navbar .nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-buttons #a {
  font-weight: 550;
  font: 16px;
  font-family: sans-serif;
  margin-left: 25px;
  cursor: pointer;
  color: white;
}

.navbar .nav-buttons #a:hover {
  color: rgb(38, 254, 238);
}

.navbar .nav-buttons .get-loan {
  color: black;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: sans-serif;
  font-size: 18px;
  width: 146px;
  height: 40px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 20px;
  text-decoration: none;
  background-color: rgb(38, 254, 238);
  border: none;
  border-radius: 25px;
}

.navbar .nav-buttons .get-loan :hover {
  color: black;
}

#icon {
  color: rgb(38, 254, 238);
  font-size: 30px;
  /* float: right; */
  cursor: pointer;
  display: none;
}
